.skill-tec{
    display: flex;
    align-items: center;
    font: size 25px; ;
    color: #fff;
}

.skill-tec .icon{
    margin-right: 30px;
    width: 90px;
}

.skill-tec .rigth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}